[submodule "courses/csu-csc500-1"]
	path = courses/csu-csc500-1
	url = git@github.com:rokene/csu-csc500-1.git
[submodule "courses/csu-csc505-2"]
	path = courses/csu-csc505-2
	url = git@github.com:rokene/csu-csc505-2.git
[submodule "courses/csu-csc506-2"]
	path = courses/csu-csc506-2
	url = git@github.com:rokene/csu-csc506-2.git
[submodule "courses/csu-csc507-1"]
	path = courses/csu-csc507-1
	url = git@github.com:rokene/csu-csc507-1.git
[submodule "courses/csu-csc510"]
	path = courses/csu-csc510
	url = git@github.com:rokene/csu-csc510-1.git
[submodule "courses/csu-csc515"]
	path = courses/csu-csc515
	url = git@github.com:rokene/csu-csc515.git
[submodule "courses/csc525"]
	path = courses/csc525
	url = git@github.com:rokene/csc525.git
[submodule "courses/csc525-unity-pp-rlagents"]
	path = courses/csc525-unity-pp-rlagents
	url = git@github.com:rokene/unity-pp-rlagents.git
